.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;

  }
.submitting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.submitting p {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
} 
.spinner{
height: 40px;
width: 40px;
border-radius: 50%;
border: 5px solid white;
border-top:5px solid royalblue;
border-bottom: 5px solid royalblue ;
animation: spin;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}


@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
100%{
  transform: rotate(360deg);
}

}

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }